{% from "rtl_header.j2" import rtl_header %}
{% from "parameters_dump.j2" import parameters_dump %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME,
    description = "Full-parallel reconfigurable FIR filter built from reusable RTL libraries",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_assert(TAPS_COUNT is integer and TAPS_COUNT >= 4, "TAPS_COUNT must be at least 4") }}
{{ jinja_assert(TAPS_COUNT == 2 ** (TAPS_COUNT | clog2), "TAPS_COUNT must be a power of two") }}

{% set half_taps          = TAPS_COUNT // 2 %}
{% set half_layers        = half_taps | clog2 %}
{% set coeffs_index_width = TAPS_COUNT | clog2 %}
{% set half_sum_width     = MUL_OUTPUT_DATA_WIDTH + half_layers %}
{% set output_data_width  = half_sum_width + 1 %}

`ifndef {{MODULE_NAME | upper}}_TOP
`define {{MODULE_NAME | upper}}_TOP

module {{MODULE_NAME}}
#(
    parameter int unsigned TAPS_COUNT            = {{TAPS_COUNT}},
    parameter int unsigned HALF_TAPS             = {{half_taps}},
    parameter int unsigned INPUT_DATA_WIDTH      = {{INPUT_DATA_WIDTH}},
    parameter int unsigned COEFFS_WIDTH          = {{COEFFS_WIDTH}},
    parameter int unsigned COEFFS_INDEX_WIDTH    = {{coeffs_index_width}},
    parameter int unsigned MUL_OUTPUT_DATA_WIDTH = {{MUL_OUTPUT_DATA_WIDTH}},
    parameter int unsigned OUTPUT_DATA_WIDTH     = {{output_data_width}}
)
(
      input logic clk
    {% if HAS_RESET %}
    , input logic rst_n
    {% endif %}
    {% if HAS_ENABLE %}
    , input logic en_i
    {% endif %}
    , input logic short_mode_i

    , input logic signed [INPUT_DATA_WIDTH - 1:0] data_i
    {% if HAS_DATA_VALIDITY %}
    , input logic                                 data_v_i
    {% endif %}

    , input logic        [COEFFS_INDEX_WIDTH - 1:0] coeff_update_index_i
    , input logic signed [COEFFS_WIDTH       - 1:0] coeff_update_data_i
    , input logic                                   coeff_update_v_i

    , output logic signed [OUTPUT_DATA_WIDTH - 1:0] data_o
    {% if HAS_DATA_VALIDITY %}
    , output logic data_v_o
    {% endif %}

    {% if HAS_COEFFS_OUTPUT %}
    , output logic signed [COEFFS_WIDTH - 1:0] coeffs_o [TAPS_COUNT]
    {% endif %}
);

logic upper_path_en;
logic lower_path_en;
logic [{{half_layers - 1}}:0] coeff_update_local_index;
logic upper_coeff_update_v;
logic lower_coeff_update_v;

logic [INPUT_DATA_WIDTH - 1:0] upper_taps [HALF_TAPS];
logic [INPUT_DATA_WIDTH - 1:0] lower_taps [HALF_TAPS];
logic upper_taps_v [HALF_TAPS];
logic lower_taps_v [HALF_TAPS];
logic [INPUT_DATA_WIDTH - 1:0] upper_delay_data;
logic [INPUT_DATA_WIDTH - 1:0] lower_delay_data_unused;
logic upper_delay_data_v;
logic lower_delay_data_v_unused;

logic signed [INPUT_DATA_WIDTH - 1:0] upper_multiplier_data [HALF_TAPS];
logic signed [INPUT_DATA_WIDTH - 1:0] lower_multiplier_data [HALF_TAPS];
logic signed [COEFFS_WIDTH - 1:0] upper_coeffs [HALF_TAPS];
logic signed [COEFFS_WIDTH - 1:0] lower_coeffs [HALF_TAPS];
logic signed [MUL_OUTPUT_DATA_WIDTH - 1:0] upper_products [HALF_TAPS];
logic signed [MUL_OUTPUT_DATA_WIDTH - 1:0] lower_products [HALF_TAPS];
logic upper_products_v [HALF_TAPS];
logic lower_products_v [HALF_TAPS];

logic upper_adder_en [{{half_layers}}];
logic lower_adder_en [{{half_layers}}];
logic signed [{{half_sum_width - 1}}:0] upper_sum [1];
logic signed [{{half_sum_width - 1}}:0] lower_sum [1];
logic upper_sum_v [1];
logic lower_sum_v [1];
logic signed [{{output_data_width - 1}}:0] full_sum;
logic full_sum_v;
logic [{{half_layers}}:0] lower_fill_count_ff;
logic lower_history_ready;
logic result_short_mode_ff;

assign upper_path_en = {{"en_i" if HAS_ENABLE else "1'b1"}};
assign lower_path_en = upper_path_en & ~short_mode_i;
assign coeff_update_local_index = coeff_update_index_i[{{half_layers - 1}}:0];
assign upper_coeff_update_v =
    coeff_update_v_i & ~coeff_update_index_i[COEFFS_INDEX_WIDTH - 1];
assign lower_coeff_update_v =
    coeff_update_v_i & coeff_update_index_i[COEFFS_INDEX_WIDTH - 1];
assign lower_history_ready =
    (lower_fill_count_ff >= {{half_layers + 1}}'({{half_taps - 1}}))
    & upper_delay_data_v;

{% for i in range(half_taps) %}
assign upper_multiplier_data[{{i}}] = upper_taps[{{i}}];
assign lower_multiplier_data[{{i}}] = lower_taps[{{i}}];
{% if HAS_COEFFS_OUTPUT %}
assign coeffs_o[{{i}}] = upper_coeffs[{{i}}];
assign coeffs_o[{{i + half_taps}}] = lower_coeffs[{{i}}];
{% endif %}
{% endfor %}

{% for i in range(half_layers) %}
assign upper_adder_en[{{i}}] = upper_path_en;
assign lower_adder_en[{{i}}] = lower_path_en;
{% endfor %}

{{DELAY_LINE_MODULE_NAME}} i_upper_delay_line
(
      .clk(clk)
    {% if DELAY_LINE_HAS_RESET %}
    , .rst_n(rst_n)
    {% endif %}
    , .en_i(upper_path_en)
    , .data_i(data_i)
    , .data_v_i(data_v_i)
    , .data_o(upper_delay_data)
    , .data_v_o(upper_delay_data_v)
    , .taps_data_o(upper_taps)
    , .taps_data_v_o(upper_taps_v)
);

{{DELAY_LINE_MODULE_NAME}} i_lower_delay_line
(
      .clk(clk)
    {% if DELAY_LINE_HAS_RESET %}
    , .rst_n(rst_n)
    {% endif %}
    , .en_i(lower_path_en)
    , .data_i(upper_delay_data)
    , .data_v_i(upper_delay_data_v)
    , .data_o(lower_delay_data_unused)
    , .data_v_o(lower_delay_data_v_unused)
    , .taps_data_o(lower_taps)
    , .taps_data_v_o(lower_taps_v)
);

{{REGISTER_FILE_MODULE_NAME}}_register_file i_upper_register_file
(
      .clk(clk)
    , .en_i(upper_path_en)
    , .coeff_update_index_i(coeff_update_local_index)
    , .coeff_update_data_i(coeff_update_data_i)
    , .coeff_update_v_i(upper_coeff_update_v)
    , .coeffs_o(upper_coeffs)
);

{{REGISTER_FILE_MODULE_NAME}}_register_file i_lower_register_file
(
      .clk(clk)
    , .en_i(lower_path_en)
    , .coeff_update_index_i(coeff_update_local_index)
    , .coeff_update_data_i(coeff_update_data_i)
    , .coeff_update_v_i(lower_coeff_update_v)
    , .coeffs_o(lower_coeffs)
);

{{MULTIPLIER_LAYER_MODULE_NAME}}_multiplier_layer i_upper_multiplier_layer
(
      .clk(clk)
    , .en_i(upper_path_en)
    , .data_i(upper_multiplier_data)
    , .data_v_i(upper_taps_v)
    , .coeffs_i(upper_coeffs)
    , .data_o(upper_products)
    , .data_v_o(upper_products_v)
);

{{MULTIPLIER_LAYER_MODULE_NAME}}_multiplier_layer i_lower_multiplier_layer
(
      .clk(clk)
    , .en_i(lower_path_en)
    , .data_i(lower_multiplier_data)
    , .data_v_i(lower_taps_v)
    , .coeffs_i(lower_coeffs)
    , .data_o(lower_products)
    , .data_v_o(lower_products_v)
);

{{ADDER_TREE_MODULE_NAME}}_adder_tree i_upper_adder_tree
(
      .layer_en_i(upper_adder_en)
    , .data_i(upper_products)
    , .data_v_i(upper_products_v)
    , .data_layer_{{half_layers - 1}}_o(upper_sum)
    , .data_layer_{{half_layers - 1}}_v_o(upper_sum_v)
);

{{ADDER_TREE_MODULE_NAME}}_adder_tree i_lower_adder_tree
(
      .layer_en_i(lower_adder_en)
    , .data_i(lower_products)
    , .data_v_i(lower_products_v)
    , .data_layer_{{half_layers - 1}}_o(lower_sum)
    , .data_layer_{{half_layers - 1}}_v_o(lower_sum_v)
);

{{ADDER_TREE_MODULE_NAME}}_adder_wrapper #(
    .INPUT_WIDTH({{half_sum_width}}),
    .OUTPUT_WIDTH({{output_data_width}})
) i_final_adder (
      .en_i(lower_path_en)
    , .operand_1_i(upper_sum[0])
    , .operand_1_v_i(upper_sum_v[0])
    , .operand_2_i(lower_sum[0])
    , .operand_2_v_i(lower_sum_v[0])
    , .result_o(full_sum)
    , .result_v_o(full_sum_v)
);

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        lower_fill_count_ff <= '0;
        result_short_mode_ff <= 1'b1;
    end
    else
    {% endif %}
    if (upper_path_en) begin
        result_short_mode_ff <= short_mode_i;
        if (short_mode_i) begin
            lower_fill_count_ff <= '0;
        end
        else if (upper_delay_data_v
                 && lower_fill_count_ff < {{half_layers + 1}}'({{half_taps - 1}})) begin
            lower_fill_count_ff <= lower_fill_count_ff + 1'b1;
        end
    end
end

always_comb begin
    data_o = OUTPUT_DATA_WIDTH'(upper_sum[0]);
    {% if HAS_DATA_VALIDITY %}
    data_v_o = upper_sum_v[0];
    {% endif %}

    if (~result_short_mode_ff) begin
        data_o = full_sum;
        {% if HAS_DATA_VALIDITY %}
        data_v_o = full_sum_v & lower_history_ready;
        {% endif %}
    end
end

endmodule

`endif // {{MODULE_NAME | upper}}_TOP
