{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME ~ "_multiplier_wrapper",
    description = "Wrapper to define multiplier cell for different build targets",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_warning("TODO: Implement parameter check") }}
{{ jinja_warning("TODO: Thoughts about overflow and saturation") }}

`ifndef {{MODULE_NAME | upper}}_MULTIPLIER_WRAPPER

`define {{MODULE_NAME | upper}}_MULTIPLIER_WRAPPER

module {{MODULE_NAME}}_multiplier_wrapper
  import {{MODULE_NAME}}_multiplier_layer_pkg::*;
(
    {% if MUL_MODE == "PIPELINED" %}
      input logic clk,
        {% if HAS_RESET %}
      input logic rst_n,
        {% endif %}
    {% endif %}
    {% if HAS_ENABLE %}
      input logic en_i,
    {% endif %}

      input logic signed [INPUT_DATA_WIDTH - 1:0] operand_1_i
    {% if HAS_DATA_VALIDITY %}
    , input logic                                operand_1_v_i
    {% endif %}
    , input logic signed [COEFFS_WIDTH - 1:0] operand_2_i
    {% if HAS_DATA_VALIDITY %}
    , input logic                             operand_2_v_i
    {% endif %}

    , output logic signed [OUTPUT_DATA_WIDTH - 1:0] result_o
    {% if HAS_DATA_VALIDITY %}
    , output logic                             result_v_o
    {% endif %}
);

{% if TARGET == "VERIFICATION" %}
    {% if CUSTOM_EN %}

    {{ jinja_assert(False, "TODO: Implement me") }}

    {% else %}
        {% if MUL_MODE == "COMB" %}
	assign result_o   = (OUTPUT_DATA_WIDTH)'(operand_1_i) * (OUTPUT_DATA_WIDTH)'(operand_2_i);
            {% if HAS_DATA_VALIDITY %}
assign result_v_o = {{" en_i & " if HAS_ENABLE else "" -}} operand_1_v_i & operand_2_v_i;
            {% endif %}
        {% elif MUL_MODE == "PIPELINED"%}

        {{ jinja_assert(False, "TODO: Implement me") }}

        {% endif %}
    {% endif %}
{% elif TARGET == "FPGA" %}

{{ jinja_assert(False, "TODO: Implement me") }}

{% elif TARGET == "ASIC" %}
    {% if CUSTOM_EN %}

    {{ jinja_assert(False, "TODO: Implement me") }}

    {% else %}
        {% if MUL_MODE == "COMB" %}
	assign result_o   = (OUTPUT_DATA_WIDTH)'(operand_1_i) * (OUTPUT_DATA_WIDTH)'(operand_2_i);
            {% if HAS_DATA_VALIDITY %}
assign result_v_o = {{" en_i & " if HAS_ENABLE else "" -}} operand_1_v_i & operand_2_v_i;
            {% endif %}
        {% elif MUL_MODE == "PIPELINED"%}

        {{ jinja_assert(False, "TODO: Implement me") }}

        {% endif %}
    {% endif %}

{% endif %}

endmodule

`endif // {{MODULE_NAME | upper}}_MULTIPLIER_WRAPPER
