{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME ~ "_multiplier_layer_pkg",
    description = "Package for parametrized multiplier layer",
    authors     = "Dmitrii Ermolaev"
) }}

`ifndef {{MODULE_NAME | upper}}_MULTIPLIER_LAYER_PKG

`define {{MODULE_NAME | upper}}_MULTIPLIER_LAYER_PKG

{{ jinja_assert(TAPS_COUNT is defined, "TAPS_COUNT is not defined"      ) }}
{{ jinja_assert(TAPS_COUNT is integer, "TAPS_COUNT is not integer"      ) }}
{{ jinja_assert(TAPS_COUNT > 0       , "TAPS_COUNT must be 1 or greater") }}

{{ jinja_assert(INPUT_DATA_WIDTH is defined, "INPUT_DATA_WIDTH is not defined"      ) }}
{{ jinja_assert(INPUT_DATA_WIDTH is integer, "INPUT_DATA_WIDTH is not integer"      ) }}
{{ jinja_assert(INPUT_DATA_WIDTH > 0       , "INPUT_DATA_WIDTH must be 1 or greater") }}

{{ jinja_assert(COEFFS_WIDTH is defined, "COEFFS_WIDTH is not defined"      ) }}
{{ jinja_assert(COEFFS_WIDTH is integer, "COEFFS_WIDTH is not integer"      ) }}
{{ jinja_assert(COEFFS_WIDTH > 0       , "COEFFS_WIDTH must be 1 or greater") }}

{{ jinja_assert(COEFF_TYPE is defined, "COEFF_TYPE is not defined") }}
{{ jinja_assert(COEFF_TYPE in ["CONSTANT", "DYNAMIC", "EXTERNAL"], "COEFF_TYPE must be CONSTANT, DYNAMIC or EXTERNAL") }}

{% set output_data_width = OUTPUT_DATA_WIDTH if OUTPUT_DATA_WIDTH is defined else 0 %}
{% if output_data_width != 0 %}
    {{ jinja_assert(output_data_width is integer, "OUTPUT_DATA_WIDTH must be integer"     ) }}
    {{ jinja_assert(output_data_width > 0       , "OUTPUT_DATA_WIDTH must be 1 or greater") }}
{% endif %}

{% set has_coeffs_options = HAS_COEFFS_OPTIONS if HAS_COEFFS_OPTIONS is defined else false %}
{% set coeffs_options_count = COEFFS_OPTIONS_COUNT if COEFFS_OPTIONS_COUNT is defined else 0 %}
{% if has_coeffs_options or coeffs_options_count != 0 %}
    {{ jinja_assert(COEFFS_OPTIONS_COUNT is defined, "COEFFS_OPTIONS_COUNT is not defined"       ) }}
    {{ jinja_assert(coeffs_options_count is integer, "COEFFS_OPTIONS_COUNT must be integer"      ) }}
    {{ jinja_assert(coeffs_options_count > 0       , "COEFFS_OPTIONS_COUNT must be 1 or greater") }}
{% endif %}

package {{MODULE_NAME}}_multiplier_layer_pkg;

localparam int unsigned TAPS_COUNT = {{ TAPS_COUNT }};

localparam int unsigned INPUT_DATA_WIDTH  = {{ INPUT_DATA_WIDTH }};
localparam int unsigned COEFFS_WIDTH      = {{ COEFFS_WIDTH }};

{% set output_data_width = output_data_width if output_data_width != 0 else
                           INPUT_DATA_WIDTH + COEFFS_WIDTH
%}
{% if output_data_width < INPUT_DATA_WIDTH + COEFFS_WIDTH %}
    {{ jinja_warning("Possible multiply overflow, check parametrisation") }}
{% endif %}
localparam int unsigned OUTPUT_DATA_WIDTH = {{ output_data_width }};
localparam int unsigned COEFFS_INDEX_WIDTH = {{ 1 if (TAPS_COUNT | clog2) == 0 else (TAPS_COUNT | clog2) }};

{% if coeffs_options_count != 0 %}
localparam int unsigned COEFFS_OPTIONS_COUNT     = {{ coeffs_options_count + 1 }};
localparam int unsigned COEFFS_OPTIONS_SEL_WIDTH = {{ 1 if ((coeffs_options_count + 1) | clog2) == 0 else ((coeffs_options_count + 1) | clog2) }};
{% endif %}

endpackage

`endif // {{MODULE_NAME | upper}}_MULTIPLIER_LAYER_PKG
