{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME ~ "_line_cell",
    description = "Parametrized basic memory cell to construct delay line",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_warning("TODO: Implement parameter check") }}


`ifndef {{MODULE_NAME | upper}}_LINE_CELL

`define {{MODULE_NAME | upper}}_LINE_CELL

module {{MODULE_NAME}}_line_cell
#(
    parameter int unsigned DATA_WIDTH = {{ DATA_WIDTH }}
)
(
      input logic clk
    {% if HAS_RESET %}
    , input logic rst_n
    {% endif %}
    {% if HAS_ENABLE %}
    , input logic en_i
    {% endif %}

    , input logic [DATA_WIDTH - 1:0] data_i
    {% if HAS_DATA_VALIDITY %}
    , input logic                    data_v_i
    {% endif %}

    {% if HAS_BYPASS %}
    , input logic bypass_i
    {% endif %}

    , output logic [DATA_WIDTH - 1:0] data_o
    {% if HAS_DATA_VALIDITY %}
    , output logic                    data_v_o
    {% endif %}
);

logic [DATA_WIDTH - 1:0] tap_ff;
logic [DATA_WIDTH - 1:0] tap_next;
logic                    tap_en;

{% if HAS_DATA_VALIDITY %}
logic                    tap_v_ff;
logic                    tap_v_next;
logic                    tap_v_en;
{% endif %}

logic [DATA_WIDTH - 1:0] output_data;
{% if HAS_DATA_VALIDITY %}
logic                    output_data_v;
{% endif %}

assign tap_en   = {{"en_i & " if HAS_ENABLE else ""}}{{"data_v_i & " if HAS_DATA_VALIDITY}} 1'b1;
assign tap_next = data_i;

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        tap_ff <= 'b0;
    end
    else
    {% endif %}
    if (tap_en) begin
        tap_ff <= tap_next;
    end
end

{% if HAS_DATA_VALIDITY %}
assign tap_v_en   = {{"en_i & " if HAS_ENABLE else "" -}} 1'b1;
assign tap_v_next = data_v_i;

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        tap_v_ff <= 'b0;
    end
    else
    {% endif %}
    if (tap_v_en) begin
        tap_v_ff <= tap_v_next;
    end
end
{% endif %}


assign output_data = {{-" bypass_i ? tap_next : " if HAS_BYPASS else ""}} tap_ff;

{% if HAS_DATA_VALIDITY %}
always_comb begin
    output_data_v = {{-" bypass_i ? tap_v_next : " if HAS_BYPASS else ""}} tap_v_ff;
    {% if HAS_ENABLE %}
    output_data_v &= en_i;
    {% endif %}
end
{% endif %}

assign data_o   = output_data;
{% if HAS_DATA_VALIDITY %}
assign data_v_o = output_data_v;
{% endif %}

endmodule

`endif // {{MODULE_NAME | upper}}_LINE_CELL
