{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_ID ~ "_filter_cell",
    description = "This is a building block for filters - fully parametrised cell",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_warning("TODO: Implement parameter check") }}
{#
{{ jinja_assert(DATA_WIDTH               is defined, "DATA_WIDTH parameter must be defined") }}
{{ jinja_assert(CELL_RESET_EN            is defined, "CELL_RESET_EN parameter must be defined") }}
{{ jinja_assert(CELL_ENABLE_EN           is defined, "CELL_ENABLE_EN parameter must be defined") }}
{{ jinja_assert(CELL_INPUT_DATA_EN       is defined, "CELL_INPUT_DATA_EN parameter must be defined") }}
{{ jinja_assert(CELL_NEXT_CELL_OUTPUT_EN is defined, "CELL_NEXT_CELL_OUTPUT_EN parameter must be defined") }}
{{ jinja_assert(CELL_COEFF_UPDATE_EN     is defined, "CELL_COEFF_UPDATE_EN parameter must be defined") }}
{{ jinja_assert(CELL_MULTIPLY_EN         is defined, "CELL_MULTIPLY_EN parameter must be defined") }}
{{ jinja_assert(CELL_NEXT_CELL_OUTPUT_DATA_SELECTOR_EN is defined, "DATA_WIDTH parameter must be defined") }}
#}

`ifndef {{MODULE_ID | upper}}_FILTER_CELL

`define {{MODULE_ID | upper}}_FILTER_CELL

module {{MODULE_ID}}_filter_cell
#(
      parameter int unsigned DATA_WIDTH       = {{ DATA_WIDTH     }}
{% if CELL_MULTIPLY_EN %}
    , parameter int unsigned COEFF_WIDTH      = {{ COEFF_WIDTH    }}
{%  if CELL_EXT_COEFFS_EN %}
    , parameter int unsigned COEFFS_COUNT     = {{ COEFFS_COUNT   }}
    , parameter int unsigned COEFF_SEL_WIDTH   = COEFFS_COUNT + 1
{%  endif %}
{% endif %}
{% if CELL_MULTIPLY_OUTPUT_EN %}
    , parameter int unsigned MUL_DATA_WIDTH   = {{ MUL_DATA_WIDTH }}
{% endif %}
)
(
      input logic clk
{% if CELL_RESET_EN %}
    , input logic rst_n
{% endif %}

{% if CELL_ENABLE_EN %}
    // Cell enable signal
    , input logic                           cell_en_i
{% endif %}

{% if CELL_INPUT_DATA_EN %}
    // Input data from external source
    , input logic [DATA_WIDTH        - 1:0] input_data_i
    , input logic                           input_data_v_i
{% endif %}

    // Input data from internal source (e.g. previous cell)
    , input logic [DATA_WIDTH        - 1:0] prev_data_i
    , input logic                           prev_data_v_i

{% if CELL_INPUT_DATA_EN %}
    // Source selector for input of the cell
    , input logic                           input_sel_i
{% endif %}

{% if CELL_NEXT_CELL_OUTPUT_DATA_SELECTOR_EN %}
    // TODO Rename this parameter
    // Source selector for output of the cell
    , input logic                           output_sel_i
{% endif %}

{% if CELL_COEFF_UPDATE_EN and CELL_MULTIPLY_EN %}
    // Coefficient setter interface
    , input logic [COEFF_WIDTH       - 1:0] coeff_upd_i
    , input logic                           coeff_upd_v_i
{% endif %}

{% if CELL_EXT_COEFFS_EN and CELL_MULTIPLY_EN %}
    // Coefficients from previous taps lines
    // TODO maybe change coeff_sel_width value
    , input logic [COEFF_WIDTH       - 1:0] coeffs_i [COEFFS_COUNT - 1:0]
    , input logic [COEFF_SEL_WIDTH   - 1:0] coeff_sel_i
{% endif %}

{% if CELL_NEXT_CELL_OUTPUT_EN %}
    // Output data to next cell
    , output logic [DATA_WIDTH       - 1:0] next_data_o
    , output logic                          next_data_v_o
{% endif %}

{% if CELL_COEFF_OUTPUT_EN and CELL_MULTIPLY_EN %}
    // Cell coefficient output
    , output logic [COEFF_WIDTH      - 1:0] cell_coeff_o
{% endif %}

{% if CELL_MULTIPLY_EN %}
    // Output data to adder tree
    , output logic [MUL_DATA_WIDTH - 1:0] mul_data_o
{% endif %}
);

{% if CELL_MULTIPLY_EN %}
// Cell coefficient register
logic [COEFF_WIDTH  - 1:0] coeff_ff;
    {% if CELL_COEFF_UPDATE_EN %}
logic                      coeff_en;
    {% endif %}
{% endif %} {# CELL_MULTIPLY_EN #}

// Cell tap accumulator and validity
logic                      accum_v_ff;
logic                      accum_v_next;

logic [DATA_WIDTH   - 1:0] accum_ff;
logic [DATA_WIDTH   - 1:0] accum_next;
logic                      accum_en;

{% if CELL_MULTIPLY_EN %}
// Multiply coefficient selected
    {% if CELL_EXT_COEFFS_EN %}
logic [COEFFS_COUNT - 1:0] coeff_sel_onehot;
    {% endif %}
logic [COEFF_WIDTH  - 1:0] coeff_selected;
{% endif %}

always_comb begin
    accum_v_next = prev_data_v_i;
    accum_next   = prev_data_i;

{% if CELL_INPUT_DATA_EN %}
    if (input_sel_i) begin
        accum_v_next = input_data_v_i;
        accum_next   = input_data_i;
    end
{% endif %}
end

assign accum_en = {{"cell_en_i & " if CELL_ENABLE_EN else ""-}} accum_v_next;

always_ff @(posedge clk {{-" or negedge rst_n" if CELL_RESET_EN else ""}}) begin
{% if CELL_RESET_EN %}
    if (~rst_n) begin
        accum_v_ff <= 'b0;
    end
    else
{% endif %} {# CELL_RESET_EN #}
    if (accum_en) begin
        accum_v_ff <= accum_v_next;
    end
end

always_ff @(posedge clk {{-" or negedge rst_n" if CELL_RESET_EN else ""}}) begin
{% if CELL_RESET_EN %}
    if (~rst_n) begin
        accum_ff <= 'b0;
    end
    else
{% endif %} {# CELL_RESET_EN #}
    if (accum_en) begin
        accum_ff <= accum_next;
    end
end


{% if CELL_MULTIPLY_EN %}

    {% if CELL_COEFF_UPDATE_EN %}

assign coeff_en = {{"cell_en_i & " if CELL_ENABLE_EN else ""-}} coeff_upd_v_i;

always_ff @(posedge clk {{-" or negedge rst_n" if CELL_RESET_EN else ""}}) begin
    {% if CELL_RESET_EN %}
        if (~rst_n) begin
            coeff_ff <= 'd{{COEFF_DEFAULT_VALUE}};
        end
        else
    {% endif %} {# CELL_RESET_EN#}
    if (coeff_en) begin
        coeff_ff <= coeff_upd_i;
    end
end
    {% else %} {# CELL_COEFF_UPDATE_EN #}
assign coeff_ff = {{COEFF_WIDTH}}'d{{(COEFF_DEFAULT_VALUE | default(0)) | int}};
    {% endif %} {# CELL_COEFF_UPDATE_EN #}

    {% if CELL_EXT_COEFFS_EN %}
assign coeff_sel_onehot = 1'b1 << coeff_sel_i;
    {%  endif %}

always_comb begin
    coeff_selected = coeff_ff;
    {% if CELL_EXT_COEFFS_EN %}
    unique case (1'b1)
        coeff_sel_onehot[0]: coeff_selected = coeff_ff;
    {% for i in range(1, COEFFS_COUNT) %}
        coeff_sel_onehot[{{i}}]: coeff_selected = coeffs_i[{{i - 1}}];
    {% endfor %}
        default: coeff_selected = 'x;
    endcase
    {% endif %} {# CELL_EXT_COEFFS_EN #}
end

{% endif %} {# CELL_MULTIPLY_EN #}

{% if CELL_NEXT_CELL_OUTPUT_EN %}
always_comb begin
    next_data_o   = accum_ff;
    next_data_v_o = accum_v_ff;

    {% if CELL_NEXT_CELL_OUTPUT_DATA_SELECTOR_EN %}
    if (output_sel_i) begin
        next_data_o   = accum_next;
        next_data_v_o = accum_v_next;
    end
    {% endif %} {# CELL_NEXT_CELL_OUTPUT_DATA_SELECTOR_EN #}

    {% if CELL_ENABLE_EN %}
    next_data_v_o &= cell_en_i;
    {% endif %}
end
{% endif %} {# CELL_NEXT_CELL_OUTPUT_EN #}

{% if CELL_COEFF_OUTPUT_EN %}
assign cell_coeff_o = coeff_ff;
{% endif %}

{% if CELL_MULTIPLY_EN %}
// TODO More "smart" multiplication: this variant is verification only
assign mul_data_o = coeff_selected * accum_next;
{% endif %}

endmodule

`endif // {{MODULE_ID | upper}}_FILTER_CELL
