{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}
{% from "tools/jinja2/constant_type.j2" import const_type_prefix %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME ~ "_coeffs_selector",
    description = "Mux file for coefficients arbitration for each multiplier",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_warning("TODO: Implement parameter check") }}

`ifndef {{MODULE_NAME | upper}}_COEFFS_SELECTOR

`define {{MODULE_NAME | upper}}_COEFFS_SELECTOR

module {{MODULE_NAME}}_coeffs_selector
    import {{MODULE_NAME}}_multiplier_layer_pkg::*;
(
{% for i in range(COEFFS_OPTIONS_COUNT + 1) %}
    input logic signed [COEFFS_WIDTH - 1:0] coeffs_option_{{i}}_i [TAPS_COUNT],
{% endfor %}
    input logic [COEFFS_OPTIONS_SEL_WIDTH - 1:0] coeffs_sel_i,

    output logic signed [COEFFS_WIDTH - 1:0] coeffs_o [TAPS_COUNT]
);

{% for i in range(TAPS_COUNT) %}

always_comb begin
    case (coeffs_sel_i)
        {% for j in range(COEFFS_OPTIONS_COUNT + 1) %}
        {{j}}: coeffs_o[{{i}}] = coeffs_option_{{j}}_i[{{i}}];
        {% endfor %}
        default:
            coeffs_o[{{i}}] = 'x;
    endcase
end

{% endfor %}

endmodule

`endif // {{MODULE_NAME | upper}}_COEFFS_SELECTOR
