{% from "tools/jinja2/rtl_header.j2" import rtl_header %}
{% from "tools/jinja2/parameters_dump.j2" import parameters_dump %}
{% from "tools/jinja2/constant_type.j2" import const_type_prefix %}

{{ parameters_dump(ctx) }}

{{ rtl_header(
    module_name = MODULE_NAME ~ "_register_file",
    description = "Register file for storing line filter coefficients",
    authors     = "Dmitrii Ermolaev"
) }}

{{ jinja_warning("TODO: Implement parameter check") }}

`ifndef {{MODULE_NAME | upper}}_REGISTER_FILE

`define {{MODULE_NAME | upper}}_REGISTER_FILE

module {{MODULE_NAME}}_register_file
    import {{MODULE_NAME}}_multiplier_layer_pkg::*;
(
    {% if COEFF_TYPE == "DYNAMIC" %}
      input logic clk,
        {% if HAS_RESET %}
      input logic rst_n,
        {% endif %}
    {% endif %}
    {% if HAS_ENABLE %}
      input logic en_i,
    {% endif %}

    {% if COEFF_TYPE == "DYNAMIC" %}
    input logic  [COEFFS_INDEX_WIDTH - 1:0] coeff_update_index_i,
    input logic signed [COEFFS_WIDTH - 1:0] coeff_update_data_i,
    input logic                             coeff_update_v_i,
        {% if HAS_SHADOW_REGISTERS %}
    input logic                             coeffs_commit_i,
        {% endif %}
    {% endif %}

    output logic signed [COEFFS_WIDTH - 1:0] coeffs_o [TAPS_COUNT]
    {{ jinja_warning("TODO: Think about coeffs validities - is it necessary or not")}}
);

{%if COEFF_TYPE == "CONSTANT" %}

{% for coeff_value in COEFFS_DEFAULT_VALUES %}
assign coeffs_o[{{loop.index0}}] = COEFFS_WIDTH'({{ const_type_prefix(COEFFS_CONST_TYPE, COEFFS_CONST_TYPE_IS_SIGNED) ~ coeff_value }});
{% endfor %}
    {% elif COEFF_TYPE == "DYNAMIC" %}
logic signed [COEFFS_WIDTH - 1:0] coeffs_ff   [TAPS_COUNT];
logic signed [COEFFS_WIDTH - 1:0] coeffs_next [TAPS_COUNT];
logic                             coeffs_en   [TAPS_COUNT];
logic        [TAPS_COUNT - 1:0]   coeffs_mask;

assign coeffs_mask = TAPS_COUNT'('b1) << coeff_update_index_i;

{% if HAS_SHADOW_REGISTERS %}
logic signed [COEFFS_WIDTH - 1:0] coeffs_shadow_ff   [TAPS_COUNT];
logic signed [COEFFS_WIDTH - 1:0] coeffs_shadow_next;
logic                             coeffs_shadow_en   [TAPS_COUNT];

logic                             coeffs_shadow_v_ff   [TAPS_COUNT];
logic                             coeffs_shadow_v_next [TAPS_COUNT];
logic                             coeffs_shadow_v_en   [TAPS_COUNT];

assign coeffs_shadow_next = coeff_update_data_i;
{% endif %}

{% for i in range(TAPS_COUNT) %}

// Coefficient h_{{i}}

{% if HAS_SHADOW_REGISTERS %}
assign coeffs_next[{{i}}] = coeffs_shadow_ff[{{i}}];
assign coeffs_en  [{{i}}] = {{"en_i & " if HAS_ENABLE else ""}} coeffs_commit_i & coeffs_shadow_v_ff[{{i}}];
{% else %}
assign coeffs_next[{{i}}] = coeff_update_data_i;
assign coeffs_en  [{{i}}] = {{"en_i & " if HAS_ENABLE else ""}} coeffs_mask[{{i}}] & coeff_update_v_i;
{% endif %}

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        coeffs_ff[{{i}}] <= COEFFS_WIDTH'({{ const_type_prefix(COEFFS_CONST_TYPE, COEFFS_CONST_TYPE_IS_SIGNED) ~ COEFFS_DEFAULT_VALUES[i] }});
    end
    else
    {% endif %}
    if (coeffs_en[{{i}}]) begin
        coeffs_ff[{{i}}] <= coeffs_next[{{i}}];
    end
end

assign coeffs_o[{{i}}] = coeffs_ff[{{i}}];

{% if HAS_SHADOW_REGISTERS %}
always_comb begin
    coeffs_shadow_v_next[{{i}}] = 1'b0;
    coeffs_shadow_v_en  [{{i}}] = 1'b0;

    {% if HAS_ENABLE %}
    if (~en_i) begin
        coeffs_shadow_v_next[{{i}}] = 1'b0;
        coeffs_shadow_v_en  [{{i}}] = 1'b0;
    end
    else
    {% endif %}
    if (coeffs_mask[{{i}}] & coeff_update_v_i) begin
        coeffs_shadow_v_next[{{i}}] = 1'b1;
        coeffs_shadow_v_en  [{{i}}] = 1'b1;
    end
    else if (coeffs_commit_i) begin
        coeffs_shadow_v_next[{{i}}] = 1'b0;
        coeffs_shadow_v_en  [{{i}}] = 1'b1;
    end
end

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        coeffs_shadow_v_ff[{{i}}] <= 1'b0;
    end
    else
    {% endif %}
    if (coeffs_shadow_v_en[{{i}}]) begin
        coeffs_shadow_v_ff[{{i}}] <= coeffs_shadow_v_next[{{i}}];
    end
end

assign coeffs_shadow_en[{{i}}] = {{"en_i & " if HAS_ENABLE else ""}} coeffs_mask[{{i}}] & coeff_update_v_i;

always_ff @(posedge clk {{-" or negedge rst_n" if HAS_RESET else ""}}) begin
    {% if HAS_RESET %}
    if (~rst_n) begin
        coeffs_shadow_ff[{{i}}] <= 'b0;
    end
    else
    {% endif %}
    if (coeffs_shadow_en[{{i}}]) begin
        coeffs_shadow_ff[{{i}}] <= coeffs_shadow_next;
    end
end
{% endif %}

{% endfor %}
{% endif %}

endmodule

`endif // {{MODULE_NAME | upper}}_REGISTER_FILE
